*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: url("background.jpg");
    font-family: poppins, sans-serif;
    background-color: beige;
    color: #333;
    line-height:1.6;
    margin:0;
    padding:0;
}
header{
    background-color: #0b54a1;
    color: black;
    text-align: center;
    padding:20px;
    margin: 20px;
    padding-bottom:20px;
}
header h1{
    font-size:2.5em;
}

section{
background-color: #7bbbff;
margin:20px;  
padding:20;
border-radius:5px;
box-shadow:0 2px 2px #113946;
    }
    section h2{
        color:#11394;
        font-size:1.8em;
        margin-bottom:10px;
    }

    section h1{
        text-align: center;
    }
    section div{
        
        display: flex;
    }

    
    
    footer {
        text-align:center;
        background-color:black;
        color:white;
        margin-bottom:5px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .gambar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
    }
    .gambar-container2 {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 300px;
    }
    .gambar {
        width: 300px;
        height: 200px;
        margin: 20px;
    }